main {
	width: 100%;
	min-height: 800px;
	display: flex;
}
section {
	width: 100%;
}

form {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2.5rem;
}

form input {
	max-width: 600px;
	height: 8rem;
	text-align: center;
	font-size: 3rem;
}

form input::placeholder {
	color: rgb(180, 180, 180);
}

form button {
	min-width: 600px;
	height: 8rem;
	cursor: pointer;
	text-align: center;
	font-size: 3rem;
	transition: border-color 1.5s, color 1s, background-color 1s;
}