:root {
	--base-border: rgb(210, 210, 210);
	--base-border-hover: rgb(45, 110, 255);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Roboto", sans-serif;
}
body {
	height: 100vh;
}
.container {
	max-width: 1080px;
	margin: auto;
	padding: 40px 0;
	display: flex;
	flex-direction: column;
	gap: 40px;
}
header {
	height: 10vh;
}
nav {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
nav a {
	font-size: xx-large;
	font-weight: 500;
	padding: 10px 15px;
	color: black;
}
nav a:hover {
	color: var(--base-border-hover);
	transition: border-color 1s, color 1s;
}

.border {
	border: 3px solid var(--base-border);
	border-radius: 10px;
	transition: border-color 1s, color 1s;
}
.border:hover {
	border-color: var(--base-border-hover);
	h3 {
		color: var(--base-border-hover);
	}
	.legend {
		background-color: var(--base-border-hover);
		color: white;
	}
	.svg {
		color: var(--base-border-hover);
	}
	.links a img {
		color: var(--base-border-hover)
	}
}

.internal {
	display: flex;
	position: relative;
	cursor: pointer;
}
.internal > h3 {
	color: black;
	transition: color 1s;
	margin: auto;
	font-size: 3rem;
	font-weight: 500;
}
.legend {
	position: absolute;
	margin: -24px 0 0 5px;
	background-color: var(--base-border);
	border-radius: 20px;
	padding: 2px 10px;
	transition: background-color 1s, color 1s;
	font-weight: 500;
	font-size: 18px;
}
.svg {
	color: black;
	height: 3rem;
	position: absolute;
	top: 10px;
	right: 10px;
	transition: color 1s;
}

#admin-section {
	display: flex;
	justify-content: flex-end;
}
#admin-section>a {
	color: black;
	font-size: x-large;
	font-weight: 500;
	padding: 15px 10px;
}
#admin-section>a:hover {
	color: var(--base-border-hover);
	transition: border-color 1s, color 1s;
}