main {
	height: fit-content;
	display: grid;
	/* grid-template-areas: 
	"welcome welcome photo photo"
	"about about photo photo"
	"about about projects projects"
	"blog experience experience footer";
	grid-template-columns: repeat(4, 0.25fr);
	grid-template-rows: repeat(4, 0.25fr);
	gap: 20px; */
	grid-template-rows: repeat(4, minmax(0, 1fr));
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-template-areas:
		"welcome welcome photo photo"
		"about about photo photo"
		"about about projects projects"
		"blog experience experience footer";
	gap: 24px;
}
main>section {
	padding: 10px;
}

main>section p {
	font-size: 1.3rem;
	padding: 10px 0 0 0;
}

#about li {
	font-size: 1.1rem;
	margin: 0 0 0 1rem;
}

#welcome {
	grid-area: welcome;
}
#photo {
	grid-area: photo;
}
#about {
	grid-area: about;
}
#experience {
	grid-area: experience;
}
#blog {
	grid-area: blog;
}
#projects {
	grid-area: projects;
}
#footer {
	grid-area: footer;
}