header {
	height: 10vh;
	margin: 20px 0 20px 0;
}

nav {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
nav a {
	font-size: xx-large;
	font-weight: 500;
	padding: 10px 15px;
}