main>section {
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.title {
	font-size: 3.5rem;
	text-align: center;
}
.sub {
	display: flex;
	justify-content: space-between;
}
.subtext {
	font-size: 1rem;
	color: #777;
}
.description {
	font-size: 1.25rem;
}
.content {
	font-size: 1.75rem;
}

.save-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}
.save-form input, .save-form textarea {
	padding: 1rem;
	min-width: 640px;
}
.save-form input {
	font-size: 3rem;
	text-align: center;
}
.save-form textarea {
	font-size: 1.5rem;
}
.save-form ::placeholder {
	color: rgb(180, 180, 180);
}
.save-form button {
	min-width: 640px;
	height: 8rem;
	cursor: pointer;
	text-align: center;
	font-size: 3rem;
	transition: border-color 1.5s, color 1s, background-color 1s;
}

/* Contact form css */
.contact {
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.links {
	padding: 20px 0;
	justify-content: center;
}
.links a {
	padding: 16px 8px;
}
.links a p {
	font-size: 1.5rem;
}

@media only screen and (max-width: 650px) {
	.save-form input, .save-form textarea, .save-form button {
		max-width: 400px;
		min-width: 400px;
	}
}